    <div id="wrapper">
      
      <h2><i>Assignment for week-10</i></h2>
      <div id="articles"></div>
      <div id="notes"></div>
    </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="assets/javascript/app.js"></script>